<!DOCTYPE html>
<html ng-app="recipeApp">
<head>
<title>My Food</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <style>
    .social-icon {
      width: 50px; /* Adjust size as needed */
      height: 50px; /* Adjust size as needed */
      margin: 10px; /* Adjust spacing between icons */
    }
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
      padding: 20px
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
    }
  </style>
</head>

<body ng-controller="recipeController">

  <!-- Sidebar (hidden by default) -->
  <!-- <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
    style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
    <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Food</a>
    <a href="fooditem" onclick="w3_close()" class="w3-bar-item w3-button">Add Food</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
    <a href="login" onclick="w3_close()" class="w3-bar-item w3-button">Log Out</a>
  </nav> -->

  <!-- Top menu -->
  <div class="w3-top">
    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
      <!-- <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div> -->
      <!-- <div class="w3-right w3-padding-16">Mail</div> -->
      <div class="w3-center w3-padding-16">My Food</div>
    </div>
  </div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-height: 30vh; max-width:1200px;margin-top:100px">

    <!-- Form Container -->
    <div class="content">
        <div class="form-container">
        <div class="w3-container w3-half">
            <form id="registerForm">
                <h2 class="text-center">Register</h2>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"required>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name"required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"  title="Password must have at least 8 characters, including one uppercase letter, one lowercase letter, and one digit."required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Re-enter Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Re-enter Password"required>
                </div>
                <div class="form-group">
                    <label for="address">address:</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="address"required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number"required>
                </div>
                <center>
                    <button class="w3-btn w3-blue" type="submit" style="margin-inline: 10%;" id="register">Register</button>
                    <a href="login" class="w3-btn w3-blue" style="margin-inline: 10%;">Login</a>
                  </center>
            </form>
        </div>
    </div>
    </div>
  </div>
<script>

    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
</script>
</body>
<script src="../static/js/register.js"></script>

</html>
